* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  text-align: center;
  background-color: #131921;
  height: 125px; 
}

.header h1 {
  margin: 0;
  color: white;
  padding: 35px;
}

.navigation {
  background-color: #232f3e;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: 0.3s;
    width: 300px;
    border-radius: 10px;
}

.menu, .cart {
  display: flex;
  justify-content: space-around;
  padding: 120px;
}

.good {
  width: 380px; 
  height: 460px;
  border: 5px solid black;
  text-align: center;
  text-decoration: none;
}

.good img {
  width: 350px; 
  height: 350px;
}

.good p {
  margin: auto;
  background-color: rgb(255, 208, 0);
  width: 90%;
  height: 50px;
  border-radius: 10px;
  padding-top: 13px;
}

.telephone .good {
  margin-left: 411.5px;
  cursor: auto;
  /* width: 500px; */
}

.telephone .good p {
  opacity: 0;
}

.telephone .good b {
  opacity: 0;
}

.telephone-div {
  margin: 25px;
  width: 500px;
}

.telephone-div button {
  position: absolute;
  top: 60%;
  left: 60%;
  background-color: rgb(255, 208, 0);
  width: 250px;
  height: 30px;
  font-size: 16px;
  border-radius: 50px;
}

.telephone-div button:hover {
  cursor: pointer;
}

.telephone-div img {
  height: 100%;
}

.telephone-div h1 {
  position: absolute;
  top: 30%;
  left: 44%;
}

.telephone-div .price {
  top: 30%;
  left: 65%;
}

.telephone-div p {
  width: 570px;
  position: absolute;
  top: 40%;
  left: 44%;
}